<div class="results">
<div class="container">


<% if @result %>
<% @result.each do |item| %>
<div class="well results">
<h3><%= item.name %></h3>
<%= image_tag item.rating_img_url %> <br />
<%= image_tag item.image_url %> <br />
<%= item.location.display_address[0] %> <br />
<%= item.location.city %>
<%= item.location.state_code %>
<%= item.location.postal_code %>  <br />
<%= item.display_phone %>


</div>
<% end %>
<% end %>

<% if @result.empty? %>
<div class="well">
<h3>No results found</h3>
<%= link_to "Search again", show_path, class: "btn btn-primary" %>

</div> -->
<% end %>
</div>
</div>