


<% provide(:title, 'Sign up') %>

<div class="container">

<h1>GET A FREE ACCOUNT</h1>

<div class="signup-form">

<h2>Sign up</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <div class="form">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
      </div>

      <div class="form">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
      </div>

      <div class="form">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
        </div>

        <div class="form">
      <%= f.label :password_confirmation, "Confirmation" %><br />
      <%= f.password_field :password_confirmation %>
      </div>

      <div class="form"><br />
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>